@charset "utf-8";

.container{width:100%;height:100%}

.left{width:250px;height:100%;float:left;margin-right:-250px;background:#EAF1F5;overflow:auto;}
.right{width:100%;height:100%;float:left;margin-left:250px;padding-right:250px}

.left-menu ul li{width:100%;height:30px;border-bottom:#ccc dotted 1px}
.left-menu ul li a{width:100%;height:30px;line-height:30px;font-size:14px;text-decoration:none;display:block;}
.left-menu ul li a:hover,.left-menu ul li a.active{background:#3aa5e6;color:#fff}
.left-menu ul li a:hover i,.left-menu ul li a.active i{color:#fff}
.left-menu ul li a i{font-size:14px;margin: 0 0 0px 40px;color:#168fd8}