html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

input {
	width: 120px;
	border: solid #95B8E7 1px;
}

input[type=checkbox] {
	width : auto;
}

input[type=radio] {
	width : auto;
}

input[type=file] {
	width : auto;
}

select {
	width: 125px;
}

.readonly {
	background-color: #f0f0f0;
	color: #777777;
}

.content {
	height: 100%;
}

.tabCls {
	overflow: hidden;
/* 	padding: 5px; */
}

.formCls {
	font-size: 12px;
	height: 100%;
}

.formCls table tr td {
	padding: 2px;
	text-align: left;
}

.validatebox-invalid {
	background-color: #FFFFCC;
	background-image: url("");
	background-position: right center;
	background-repeat: no-repeat;
	border: solid #95B8E7 1px;
	color: #000000;
}

.icon-filesuploads{
	background:url('../images/icons/arrow_up.png') no-repeat center center;
}

.icon-filesdownloads{
	background:url('../images/icons/arrow_down.png') no-repeat center center;
}

.icon-claim {
	background: url('../images/icons/claim.png') no-repeat center center;
}

.icon-unclaim {
	background: url('../images/icons/unclaim.png') no-repeat center center;
}

.icon-distribution {
	background: url('../images/icons/distribution.png') no-repeat center
		center;
}

.icon-update {
	background: url('../images/icons/update.png') no-repeat center center;
}

.icon-openTable {
	background: url('../images/icons/openTable.png') no-repeat center center;
}

.icon-add {
	background: url('../images/icons/top_add.png') no-repeat left center;
}

.icon-distribution {
	background: url('../images/icons/distribution.png') no-repeat left center;
}

.icon-edit {
	background: url('../images/icons/top_ed.png') no-repeat left center;
}

.icon-remove {
	background: url('../images/icons/top_remove.png') no-repeat left center;
}
.icon-download{
	background:url('../images/icons/download.png') no-repeat center center;
}
.icon-import{
	background:url('../images/icons/import.png') no-repeat center center;
}
.icon-export{
	background:url('../images/icons/export.png') no-repeat center center;
}
.icon-print{
	background:url('../images/icons/print.png') no-repeat center center;
}
.icon-sync{
	background:url('../images/icons/sync.png') no-repeat center center;
}
.icon-upgrade{
	background:url('../images/icons/upgrade.png') no-repeat center center;
}
.icon-addre {
	background: url('../images/icons/edit_addre.png') no-repeat left center;
}
.icon-removere {
	background: url('../images/icons/edit_removere.png') no-repeat left center;
}
.icon-lock {
	background: url('../images/icons/claim1.png') no-repeat center center;
}
.icon-unLock {
	background: url('../images/icons/unclaim1.png') no-repeat center center;
}
.icon-publish {
	background: url('../images/icons/publish.png') no-repeat center center;
}

.icon-submit{
	background:url('../images/icons/submit.png') no-repeat center center;
}
.icon-audit{
	background:url('../images/icons/audit.png') no-repeat center center;
}
.icon-closed{
	background:url('../images/icons/closed.png') no-repeat center center;
}
.icon-storage{
	background:url('../images/icons/package_go.png') no-repeat center center;
}


a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
	background: transparent;
	border: 0;
	filter: none;
}
a.l-btn-plain {
	background: url('../images/common/btnbg.gif') repeat-x;
	color:#0e67a4;
	padding: 0px 5px 0px 0px;
	border: 1px solid #b7d2ff;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

a.l-btn-plain:hover {
	background: url('../images/common/btnhbg.gif') repeat-x;
	padding: 0px 5px 0px 0px;
	color: #004f86;
	border: 1px solid #6890d6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.import{
	float:right;
}

.tabs-header{
	border-top:1px solid #95b8e7;
}

.combobox-item{
	cursor: pointer;
}

.combobox-item-selected, .datagrid-row-selected, .combobox-item-hover {
	background-color: #E0ECFF;
	color: #000000;
}

#list .datagrid-header{
	background: url('../images/common/tbhbg.gif') repeat-x;
	border-color: #95B8E7;
	color:#004f86;
	font-weight:bold;
}

.datagrid-header td.datagrid-header-over {
  color:#004f86;
}

.datagrid-htable td{
	background: url('../images/common/tdhbg.gif') no-repeat right;
	border-right: 1px solid #95B8E7;
	color:#004f86;
}
td.datagrid-td-rownumber{
	background: url('../images/common/tbhbg.gif') repeat-x;
	border-right: 1px solid #95B8E7;
	border-bottom: 1px solid #95B8E7;
}
.datagrid-body td{
	border-color: #95B8E7;
	border-right: 1px solid #95B8E7;
	border-bottom: 1px solid #95B8E7;
}

.panel-body, .datagrid-htable, .datagrid-btable, .datagrid-ftable {
	color: #004f86;
}

.datagrid-pager a.l-btn-plain{
	background:none;
	border:none;
	border: 1px solid #F4F4F4;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.datagrid-pager a.l-btn-plain:hover {
	background: url('../images/common/btnhbg.gif') repeat-x;
	padding: 0px 5px 0px 0px;
	color: #004f86;
	border: 1px solid #6890d6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

fieldset {
	margin : 10px 10px 0px 10px;
}

textarea {
	resize:none;
	font-size:12px;
	border: solid #95B8E7 1px;
}